.header__logo{
    width: 100px;
    margin-right: 20px;
}
.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top:0;
    z-index: 100;
    padding: 0 20px;
}

.header__bottom{
    background-color: #232f3e;
}
.header__search{
    display: flex;
    flex:1;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;

}

.header__search input{
    width: 80%;
    height: 22px;
    padding: 10px;
    border: 0;
    outline: 0;
}

.header__searchIcon{
    padding: 9px;
    height: 22px;
    background-color: #cd9042;
    margin-left: 2px;
}

.header__nav{
    display: flex;
    align-items: center;
      justify-content: space-between;

}
.header__option{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
  
  
}
.header__optionone{
     font-size: 10px;
    color: #fff;
}
.header__optiontwo{
  display: block;
    color: #fff;
      font-size: 13px;
    font-weight: 800;
}


.header__optionBasket{
    display: flex;
    color: #fff;
    margin: 0 10px;
   
}
.header__optionBasket a{
   display: flex;
   align-items: center;
    color: #fff;
}
.header__optionBasket span{
   margin-top: -10px;
   text-decoration: none;
}

.header__optionBasket a span{
   margin-top: -20px;
   width: 20px;
   height: 20px;
   display: inline-block;
   background-color: #fff;
   color: #000;
   border-radius: 50%;
   text-align: center;
   font-size: 14px;
   font-weight: bold;
}

.header__bottom ul li a{
    color: #fff;
    text-decoration: none;
}












.header__bottom ul {
    list-style: none;
    padding: 5px 30px 10px 30px;
    margin: 0;
    display: flex;
    align-items: center;
}
 
.header__bottom ul li {
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
    color: #fff;
}

.header__bottom ul li img {
    width: 250px;
}